<div class="header">
    <h1 class="header-title">
        Journal
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path ('app_tiers_index')}}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path ('app_journal_index')}}">Journal</a></li>
        </ol>
    </nav>
</div>
{{ form_start(form)}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Saisie vos données</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.jl_code) }}
                            {{ form_widget(form.jl_code, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.jl_lib) }}
                            {{ form_widget(form.jl_lib, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.mois_exer) }}
                            {{ form_widget(form.mois_exer, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.societe) }}
                            {{ form_widget(form.societe, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.monnaie) }}
                            {{ form_widget(form.monnaie, {'attr': {'class': 'form-control'}}) }}

                        </div>
                        <div class="mb-3">
                            {{ form_label(form.compte) }}
                            {{ form_widget(form.compte, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success px-4">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


