<div class="header">
    <h1 class="header-title">
        Tiers
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path ('app_tiers_index')}}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path ('app_compte_index')}}">Comptes</a></li>
        </ol>
    </nav>
</div>
{{ form_start(form)}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Saisie vos données</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.cp_code) }}
                            {{ form_widget(form.cp_code, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_lib) }}
                            {{ form_widget(form.cp_lib, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_type_tiers) }}
                            {{ form_widget(form.cp_type_tiers, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_sens) }}
                            {{ form_widget(form.cp_sens, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_actif) }}
                            {{ form_widget(form.cp_actif, {'attr': {'class': 'form-control'}}) }}

                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_analytique) }}
                            {{ form_widget(form.cp_analytique, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.societe) }}
                            {{ form_widget(form.societe, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.cp_traduction) }}
                            {{ form_widget(form.cp_traduction, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-success px-4">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


