{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte.id }}</td>
            </tr>
            <tr>
                <th>Cp_code</th>
                <td>{{ compte.cpCode }}</td>
            </tr>
            <tr>
                <th>Cp_lib</th>
                <td>{{ compte.cpLib }}</td>
            </tr>
            <tr>
                <th>Cp_type_tiers</th>
                <td>{{ compte.cpTypeTiers }}</td>
            </tr>
            <tr>
                <th>Cp_sens</th>
                <td>{{ compte.cpSens }}</td>
            </tr>
            <tr>
                <th>Cp_actif</th>
                <td>{{ compte.cpActif }}</td>
            </tr>
            <tr>
                <th>Cp_traduction</th>
                <td>{{ compte.cpTraduction }}</td>
            </tr>
            <tr>
                <th>Cp_analytique</th>
                <td>{{ compte.cpAnalytique }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ compte.createdAt ? compte.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ compte.updatedAt ? compte.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compte_index') }}">back to list</a>

    <a href="{{ path('app_compte_edit', {'id': compte.id}) }}">edit</a>

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
