<div class="header">
    <h1 class="header-title">
        Tiers
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path ('app_tiers_index')}}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path ('app_tiers_index')}}">Tiers</a></li>
        </ol>
    </nav>
</div>
{{ form_start(form)}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Saisie vos données</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.tr_code) }}
                            {{ form_widget(form.tr_code, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.tr_lib) }}
                            {{ form_widget(form.tr_lib, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.tr_adresse) }}
                            {{ form_widget(form.tr_adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                        {{ form_label(form.tr_type_ident) }}
                        {{ form_widget(form.tr_type_ident, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    <div class="mb-3">
                            {{ form_label(form.tr_activite) }}
                            {{ form_widget(form.tr_activite, {'attr': {'class': 'form-control'}}) }}

                        </div>
                        <div class="mb-3">
                            {{ form_label(form.tr_email) }}
                            {{ form_widget(form.tr_email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.tr_type_tiers) }}
                            {{ form_widget(form.tr_type_tiers, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.societe) }}
                            {{ form_widget(form.societe, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.tr_ident) }}
                            {{ form_widget(form.tr_ident, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                        <button class="btn btn-success px-4">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}


