{% extends 'base.html.twig' %}

{% block title %}PieceComptable{% endblock %}

{% block body %}
    <h1>PieceComptable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece_comptable.id }}</td>
            </tr>
            <tr>
                <th>Datepiece</th>
                <td>{{ piece_comptable.datepiece ? piece_comptable.datepiece|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ piece_comptable.libelle }}</td>
            </tr>
            <tr>
                <th>Monnaie</th>
                <td>{{ piece_comptable.monnaie }}</td>
            </tr>
            <tr>
                <th>Tauxchange</th>
                <td>{{ piece_comptable.tauxchange }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_piece_comptable_index') }}">back to list</a>

    <a href="{{ path('app_piece_comptable_edit', {'id': piece_comptable.id}) }}">edit</a>

    {{ include('piece_comptable/_delete_form.html.twig') }}
{% endblock %}
